#after-party {
    margin-top: 10rem;
}

.party-flyer {
    width: 100%;
    max-width: 780px;
    height: auto;

}

.flyer-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 7rem 0;
}

.text-wrapper p {
    margin: 0;
    font-size: 1.5rem;
    width: 100%;
}

.page-title {
    width: 100%;
}