#blog-details {
    margin-top: 10rem;
}

.sub-hero {
    height: 10rem;
}

#back-button {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
}

.post-img {
    width: 100%;
    max-width: 800px;
    height: auto;

}