#guest-list {
    margin-top: 10rem;
}


.divider {
    height: 5px;
    width: 50%;
    background-color: whitesmoke;
    margin: auto 0;
}

.list-section-title {
    font-size: 4rem;
    font-family: 'BarlowSemiCondensed-Bold';
    margin: 0 auto;
}

.guest-header {
    display: flex;
    justify-content: center;
    margin: 0;
}

#guest-selectors {
    list-style: none;
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
}


.list-selector {
    flex-grow: 1;
    margin: .5rem;
    box-sizing: border-box;
}

#menu-selector {
    margin: 2rem auto;
}

.guest-card-wrapper {
    position: relative;
    background-color: whitesmoke;
    width: 26rem;
    height: 26rem;
    margin: 1rem;
    z-index: 0;
    transition: 450ms;
    overflow: hidden;
    opacity: 0;
}

.goh-card {
    height: 35rem;
    width: 35rem;
}

.goh-card .guest-details {
    top: 75%;
}

.goh-card:hover .guest-details {
    top: 90%;
}

.guest-card-wrapper:hover .accent-block {
    width: 50%;
    height: 90%;
    transition: 450ms ease-in-out;

}

.guest-card-wrapper:hover .guest-details {
    top: 90%;
    width: 100%;
    transition: 450ms ease-in-out;
}

.guest-card-wrapper:hover .guest-name {
    width: 0;
    transition: 450ms ease-in-out;

}

.guest-card-wrapper:hover .socials-icon {
    margin-bottom: 1rem;
    transition: 450ms ease;
}

.guest-card-wrapper:hover .card-image {
    width: 100%;
    height: 100%;
    transition: 450ms ease-in-out;
    filter: brightness(100%);
}

.socials-icon {
    height: 2rem;
    margin-bottom: .5rem;
    transition: 450ms;
}

.socials-icon:hover {
    filter: drop-shadow(5px 5px 10px #070707);
    cursor: pointer;
}

.icon-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 2rem;
    left: 1rem;
    top: 1rem;

}


.accent-block {
    position: absolute;
    z-index: 1;
    height: 80%;
    width: 80%;
    background-color: #710c04;
    transition: 450ms;
}

.accent-block::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    background-image: url('/images/logo\ white\ tight.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.card-image {
    position: absolute;
    width: 80%;
    height: 80%;
    z-index: 2;
    bottom: 0;
    right: 0;
    object-fit: cover;
    transition: 450ms;
    filter: brightness(50%);
}

.guest-details {
    position: relative;
    width: 60%;
    z-index: 3;
    top: 70%;
    background-color: #070707;
    transition: 450ms;
    padding: .5rem 1rem;
}

.guest-name {
    width: 100%;
    margin: 0;
    transition: 450ms;
    font-family: 'BarlowSemiCondensed-Bold';
    white-space: nowrap;
}

.badge-wrapper {
    width: 100%;
    transition: 450ms;
    display: flex;
    flex-wrap: wrap;
}

.badge {
    display: inline-block;
    margin: 2px;
    border: 1px solid whitesmoke;
    padding: 2px;
}

.black-bar {
    padding-top: 3rem;
    margin-top: 3rem;
    width: 100%;
}

.guest-list {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.guest-name {
    font-size: 1.5rem;
}

.guest-dropdown {
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.show {
    opacity: 1;
    height: 100%;
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (min-width: 720px) {}