#hero {
    margin: 7rem 0 2rem 0;
    min-height: calc(100vh - 7rem);
    width: 100%;

}



#hero-information {
    margin: 0;
    color: white;
    min-height: calc(100vh - 7rem);
    padding: 0 1rem 0 8rem;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, .5);
    /* animation: slide-in 2s forwards ease-in-out; */
    animation-delay: 30s;
    opacity: 1;
}

#hero-headline {
    width: 40rem;
    margin: 2rem auto;

}

#hero-video-wrapper {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    top: 0;
    width: 100%;
}

#hero-video-wrapper video {
    height: 100vh;
    min-height: 47rem;
    object-fit: cover;
    width: 100%;

}

#hero-logo {
    position: absolute;
    z-index: -1;
    height: 40rem;
    left: 0;
    bottom: 0;
    opacity: .1;

}

img.sponsor-logo {
    margin: 0 .5rem;
}

#senpai {}

#otaku {
    max-height: 30px;
    padding-bottom: 9px;
}

#sponsor-wrapper {
    display: flex;
    position: absolute;
    z-index: -1;
    bottom: 0;
    box-sizing: border-box;
    width: calc(100% - 8rem);
    align-items: end;
    padding-bottom: 1rem;
}

#sake-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 2rem;
}

.bar-text-2 {
    padding-left: 2rem;
    width: 50%;
}

img.calendar-icon {
    height: 3vh;
}

img.location-icon {
    height: 4vh;
}

#hero-tagline {
    text-shadow: 1px 1px 3px black;
}

.hero-text {
    font-size: 1.5rem;
    margin: 1rem 0;
    padding: 0 1rem;
}

#hero-button-wrapper .cta-button {
    min-width: 20%;
    text-align: center;
}


#main-content {
    margin: 3rem 0 0 0;
}




@media screen and (max-width: 1000px) {



    .left-barcode,
    .right-barcode {
        opacity: 0;
        transition: 100ms;
    }

    img.sponsor-logo {}

    #senpai {}

    #otaku {}

    #sake-wrapper {
        height: 3rem;
        margin: 0;
    }

    .bar-text {
        width: 100%;
    }

    #sponsor-wrapper {
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
        bottom: 1rem;
        left: 0;
    }

    .bar-info-right {
        padding: 2rem 1rem;
        transition: 100ms;
        width: 80%;
    }

    .bar-info-left {
        flex-wrap: wrap;
        padding: 0;
    }

    .bar-text-2 {
        padding: 0;
        width: 100%;
    }


    .card-frame {
        height: 10rem;
        left: -1rem
    }

    #hero-video-wrapper video {
        height: 100vh;
        min-height: 0;

    }

    #hero {
        margin: 5rem 0 0 0;
    }

    #hero-information {
        width: 100%;
        text-align: left;
        padding: 0;
        height: calc(100vh - 5rem);


    }

    #hero-logo {
        height: 25rem;
    }

    .event-card {
        max-height: 14rem;
    }


    #hero-tagline {
        margin: 0;
        padding: 0 1rem;
    }

    .hero-text {
        padding: 0;

    }

    #hero-headline {
        width: 90%;
        margin: 0 1rem;
    }

    #hero-details {
        padding: 0 1rem;
    }



}